html, body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 1.428571429;
}

.padding-0 {
  padding: 0px;
}

.padding-5 {
  padding: 0px 5px;
}

.padding-10 {
  padding: 0px 10px;
}

a:hover {
  text-decoration: none !important;
}

.small-caps {
  font-size: 1.2em;
}

.navbar-default {
  background-color: #BD2E4B;
  border-color: rgba(255,255,255,0.95);
  border: 1px solid transparent;
  transform: translate3d(0, 0, 0);    
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);  
  margin-bottom: 0;
  height: 70px;
  border-radius: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-default .navbar-header {
  width: 100%;
  margin: 0px auto;
}

.navbar-default .navbar-app-name {
  text-align: center;
  width: 100%;
  line-height: 68px;
  font-size: 1.6em;
  color: #FFFFFF;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.main-content {
  position: absolute;
  top: 70px;
  width: 100%;
}

.search-form {
  max-width: 600px;
  margin: 0px auto;
}

.search-form .location-input-group {
  position: relative;
}

.search-form .location-input-group .location-spinner {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
}

#vehicle-results-container {
  width: 100%;
  margin: 0px;
}

#vehicle-results-container .row {
  width: 100%;
  margin: 0px;
}

#vehicle-results-container .vehicle-results {
  margin: 0px auto;
  max-width: 600px;
}

#vehicle-results-container .vehicle-result {
  border-bottom: 1px solid #AAAAAA;
  padding: 0px;
  background-color: #FAFAFA;
}

#vehicle-results-container .vehicle-result-left {
  padding: 0px;
  background-color: #FFFFFF;
}

#vehicle-results-container .vehicle-result-right {
}

#vehicle-results-container .vehicle-result-img {
  width: 100%;
}

#vehicle-results-container .vehicle-result-service-provider-img {
  height: 20px;
  margin: 10px 0px;
}

#vehicle-results-container .vehicle-result-make-model {
  font-size: 1.5em;
  color: #33c2cc;
}

#vehicle-results-container .vehicle-result-booking-details {
  font-size: 0.9em;
  font-weight: 300;
  margin-bottom: 10px;
}

#vehicle-results-container .vehicle-result-metadata-preview {
  font-size: 0.9em;
  font-weight: 300;
  margin-bottom: 10px; 
}

#vehicle-results-container .vehicle-result-distance {
  font-size: 3.0em;
  color: #FF9900;
  padding: 10px 0px;
}

#vehicle-results-container .vehicle-result-price {
  font-size: 3.0em;
  color: #3299BB;
  padding: 10px 0px;
}

#vehicle-results-container .vehicle-result-price-details {
  padding: 10px 0px;  
}

#detailed-view-container {
  width: 100%;
  margin: 0px;
}

#detailed-view-container .row {
  width: 100%;
  margin: 0px;
}

#detailed-view-container .detailed-view {
  margin: 0px auto;
  max-width: 600px;
}

/*#detailed-view-container .detailed-view-close {
  position: relative;
  height: 30px;
  margin-bottom: -30px;
  top: 30px;
}*/

#detailed-view-container .detailed-view-img {
  width: 100%;
}

#detailed-view-container .book-now-btn {
  background-color: #FF9900;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.6em;
  line-height: 50px;
  height: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif; 
}

@media (max-width: 768px) {
  #vehicle-results-container .vehicle-result-price,
  #vehicle-results-container .vehicle-result-distance {
    font-size: 1.8em;
  }
  #vehicle-results-container .vehicle-result-model {
    font-size: 1.3em;
  }
  #vehicle-results-container .vehicle-result-price-details {
    font-size: 0.8em;
  }
}
