html, body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 1.428571429;
}

.padding-5 {
  padding: 0px 5px;
}

.padding-10 {
  padding: 0px 10px;
}

a:hover {
  text-decoration: none !important;
}

.navbar-default {
  background-color: rgba(255,255,255,0.95);
  border-color: rgba(255,255,255,0.95);
  border: 1px solid transparent;
  transform: translate3d(0, 0, 0);    
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);  
  margin-bottom: 0;
}

#vehicle-results-container {
  width: 100%;
}

#vehicle-results-container .row {
  width: 100%;
}

#vehicle-results-container .vehicle-results {
  margin: 0px auto;
  max-width: 500px;
}

#vehicle-results-container .vehicle-result {
  padding: 20px 0px;
  border-bottom: 1px solid #DDDDDD;
}

#vehicle-results-container .vehicle-result-left {
  border-right: 2px solid #b849a3;
}

#vehicle-results-container .vehicle-result-right {
}

#vehicle-results-container .vehicle-result-img {
  width: 100%;
}

#vehicle-results-container .vehicle-result-service-provider-img {
  height: 20px;
  margin: 10px 0px;
}

#vehicle-results-container .vehicle-result-make-model {
  font-size: 1.5em;
  color: #33c2cc;
}

#vehicle-results-container .vehicle-result-booking-details {
  font-size: 0.9em;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
}

#vehicle-results-container .vehicle-result-metadata-preview {
  font-size: 0.9em;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300; 
}

#vehicle-results-container .vehicle-result-distance {
  font-size: 3.0em;
  color: #FF9900;
  padding: 10px 0px;
}

#vehicle-results-container .vehicle-result-price {
  font-size: 3.0em;
  color: #3299BB;
  padding: 10px 0px;
}

#vehicle-results-container .vehicle-result-price-details {
  padding: 10px 0px;  
}

@media (max-width: 768px) {
  #vehicle-results-container .vehicle-result-price,
  #vehicle-results-container .vehicle-result-distance {
    font-size: 1.8em;
  }
  #vehicle-results-container .vehicle-result-model {
    font-size: 1.3em;
  }
}
