<!doctype html>
<html>
<head>
  <title>Drive Now - Historical Availability</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?libraries=places"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no"/>  
  <link rel="shortcut icon" href="/static/img/favicon.png"/>

  <style>
    html, body {
      width: 100%;
      height: 100%;
    }
    .map-container {
      width: 100%;
      height: 100%;
    }
    .map {
      width: 100%;
      height: 100%;
    }
    .info-section {
      position: fixed;
      left: 80px;
      top: 20px;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 2px;
      font-size: 14pt;
      width: 600px;
    }
    #hour-render, #day-render {
      color: blue;
    }
  </style>

  <script>
    var MAP = null;
    var MARKERS = [];
    var SLIDER_STATE = {
      day: 1,
      hour: 0
    };

    function init() {
      var map = MAP = new google.maps.Map($('#map')[0], {
        center: new google.maps.LatLng(0, 0),
        zoom: 3
      });
    }

    function clearMap() {
      $.each(MARKERS, function(i, marker) {
        marker.setMap(null);
      });
      MARKERS = [];
    }

    function drawPoints(pickupLatLngs) {
      clearMap();

      var map = MAP;
      var bounds = new google.maps.LatLngBounds();

      $.each(pickupLatLngs, function(i, latLngJson) {
        var latlng = new google.maps.LatLng(latLngJson['lat'], latLngJson['lng']);
        var marker = new google.maps.Marker({
          map: map,
          position: latlng
        });
        MARKERS.push(marker);
        bounds.extend(latlng);
      });

      map.fitBounds(bounds);
    }

    function updateMap() {
      $.ajax('/historical/search?day=' + SLIDER_STATE.day + '&hour=' + SLIDER_STATE.hour, {
        success: function(response) {
          drawPoints(response['latlngs']);
          $('#date-str').html(response['date_str']);
          $('#time-str').html(response['time_str']);
        }
      });
    }

    $(function() {
      init();
      $( "#day-slider" ).slider({
        min: 1,
        max: 31,
        slide: function(event, ui) {
          SLIDER_STATE.day = ui.value;
          $('#day-render').html(ui.value);
          updateMap();
        }
      });
      $( "#hour-slider" ).slider({
        min: 0,
        max: 23,
        slide: function(event, ui) {
          SLIDER_STATE.hour = ui.value;
          $('#hour-render').html(ui.value);
          updateMap();
        }
      });
      updateMap();
    });
  </script>

</head>
<body>
  <div class="map-container">
    <div class="map" id="map">
    </div>
  </div>
  <div class="info-section">
    <div>
      Car pickups in Munich on <span id="date-str"></span> in the <span id="time-str"></span> hour.
    </div>
    <div>
      Day of Week - <span id="day-render"></span>
      <div id="day-slider"></div>
    </div>
    <div>
      Hour of Day - <span id="hour-render"></span>
      <div id="hour-slider"></div>
    </div>
  </div>
</body>
</html>
