<!doctype html>
<html>
<head>
  <title>Where's My Damn Car</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
  <script src="/static/js/script.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/css/style.css"/>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no"/>  
  <link rel="shortcut icon" href="/static/img/favicon.png"/>
</head>
<body ng-controller="RootCtrl">
  <div>
    <button class="btn btn-default" ng-click="dummySearch()">
      Search
    </button>
  </div>

  <div class="vehicle-results" ng-controller="VehicleResultsCtrl"
    ng-if="appState.hasVehicleResults()">
    <div ng-repeat="result in appState.vehicleResults" class="vehicle-result">
      <span>[[result['service'] ]]</span>
      <img ng-src="[[result['image_url'] ]]"/>
    </div>
  </div>

  <script>
    initApp();
  </script>
</body>
</html>
