<!doctype html>
<html>
<head>
  <title>Car Share Now</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
  <script src="/static/js/script.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/css/style.css"/>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no"/>  
  <link rel="shortcut icon" href="/static/img/favicon.png"/>
</head>
<body ng-controller="RootCtrl">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-app-name">
          <span class="small-caps">C</span>AR <span class="small-caps">S</span>HARE <span class="small-caps">N</span>OW
        </div>
      </div>
    </div>
  </nav>

  <div class="main-content">

    <div class="search-form" ng-controller="SearchFormCtrl" ng-show="!appState.collapseSearch">
      <div class="form-group location-input-group">
        <label for="location-input">Location</label>
        <input type="text" class="form-control"
          htd-google-place-autocomplete
          on-place-change="placeChanged($newPlace)"
          ng-model="form.rawLocation" id="location-input"
          ng-focus="locationInputFocused()"/>
        <div class="location-spinner" ng-show="gettingCurrentLocation">
          <img src="/static/img/spinner-small.gif"/>
        </div>
      </div>
      <div class="form-group">
        <label>Start time</label>
        <timepicker ng-model="form.startTime" minute-step="30">
        </timepicker>
      </div>
      <div class="form-group">
        <label>End time</label>
        <timepicker ng-model="form.endTime" minute-step="30">
        </timepicker>
      </div>
      <button class="btn btn-default" ng-click="submit()" ng-disabled="!canSubmit()">
        Search
      </button>
      <div class="search-spinner" ng-show="searching">
        <img src="/static/img/spinner-small.gif"/>
      </div>
    </div>

    <div class="modify-search-link" ng-show="appState.collapseSearch">
      <a href="javascript:void(0)" ng-click="appState.collapseSearch = false">
        &laquo; modify search
      </a>
    </div>

    <div class="container padding-0" id="vehicle-results-container"
      ng-controller="VehicleResultsCtrl"
      ng-if="appState.hasVehicleResults()">
      <div class="row">
        <div class="vehicle-results-map">
          <div class="map" htd-google-map
            map-options="mapOptions" map="mapState.map"
            after-creation="mapCreated($map)">
          </div>
        </div>
        <div class="vehicle-results"
          htd-scroll-to-selector
          scroll-dest-selector=".vehicle-result[vehiclename='[[appState.selectedResult['vehicle_name'] ]]']"
          scroll-on-changes-to="appState.selectedResult">
          <div ng-repeat="result in appState.vehicleResults">
            <div class="vehicle-result col-xs-12" vehiclename="[[result['vehicle_name'] ]]">
              <div class="col-xs-7 vehicle-result-left">
                <img class="vehicle-result-img" ng-src="[[result['image_url'] ]]"/>
                <div class="vehicle-result-make-model padding-10">
                  [[result['make'] ]] [[result['model'] ]]
                </div>
                <img class="vehicle-result-service-provider-img padding-10" ng-src="static/img/[[result['service_logo_url'] ]]"/>
                <div class="vehicle-result-booking-details padding-10">
                  GetAround Instant Book, Requires Zipcar Membership
                </div>
              </div>
              <div class="col-xs-5 vehicle-result-right padding-10">
                <div class="vehicle-result-price">
                  $[[result['price_total'] | number:0]]
                </div>
                <div class="vehicle-result-distance">
                  [[distanceMiles(result) | number: 1]] mi
                </div>
                <div class="vehicle-result-price-details">
                  [[result['price_details'] ]]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container padding-0" id="detailed-view-container">
      <div class="row padding-0">
        <div class="detailed-view padding-0">
<!--           <span class="detailed-view-close glyphicon glyphicon-remove"></span> -->
          <img class="detailed-view-img" src="https://www.getaround.com/images_server/blob/AMIfv97WSH-hw3gVt18KuCawAIyz8pDiPNDelmu9LaRr5pqSY4BmseiU9gQfA4WHGX9kcm_BQtDCxVAdp_FnTdxL3BNe5Eh2JyJQraAIkaosEf5M4PyJN94vvgqpp5oRonRrYksoOruzvV06CkYL43s-hdEXpsjVgQ">
          <div class="book-now-btn">
            <span class="small-caps">B</span>OOK <span class="small-caps">C</span>AR
          </div>
          <div class="vehicle-result-make-model padding-10">
            [[result['make'] ]] [[result['model'] ]]
          </div>
          <img class="vehicle-result-service-provider-img padding-10" ng-src="static/img/[[result['service_logo_url'] ]]"/>
          <div class="vehicle-result-name">
            Kate
          </div>
          <div class="vehicle-result-address">
            650 Chestnut St., San Francisco, CA
          </div>
          <div class="vehicle-result-distance">
            1.2 mi
          </div>
          <div class="vehicle-result-fuel-type">
            Electric
          </div>
          <div class="vehicle-result-fuel-level">
            80%
          </div>
          <div class="vehicle-result-additional-details">
            This is a giant text blob pulled from respective services. Varying content here. This is a giant text blob pulled from respective services. Varying content here. This is a giant text blob pulled from respective services. Varying content here. This is a giant text blob pulled from respective services. Varying content here.
          </div>
        </div>
      </div>
    </div>

  </div>

  <script>
    initApp();
  </script>

</body>
</html>
